<!DOCTYPE html>
<html>
<head>
<title>JPPA Supermarkt</title>
<style type="text/css">
div.weiterrunter {
	margin-top: 40px;
}

hr {
	width: 100%;
	height: 5px;
	margin: auto 10;
	color: blue;
	background: blue;
}
</style>

<style>
body {
	background-color: white;
	color: black;
}

table {
	margin: 100px;
}
</style>
</head>
<body>

	<div class="container weiterrunter">
		<h1>{{Titel}}</h1>
		<hr>

		<table id="table_id" class="display">
			<thead>
				<tr>
					<th scope="col">Produkte</th>
					<th scope="col">Kategorie</th>
					<th scope="col">Hersteller</th>
					<th scope="col">Lieferant</th>
					<th scope="col">Preis</th>
					<th scope="col">Standort</th>
					<th scope="col">Anzahl</th>
				</tr>
			</thead>
			<tbody>
				{% for p in produkt %}
				<tr>
					<td>{{ p.Produkt }}</td>
					<td>{{ p.Kategorie }}</td>
					<td>{{ p.Hersteller }}</td>
					<td>{{ p.Lieferant }}</td>
					<td>{{ p.Preis }}</td>
					<td>{{ p.Standort}}</td>
					<td>{{ p.Anzahl}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	{% block js %}
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.2/b-1.5.4/sc-1.5.0/sl-1.2.6/datatables.min.css" />
	<lik rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.2/b-1.5.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src="jquery.dataTables.js"></script>
	<script type="text/javascript">

    $(document).ready(function() {
        $('#table_id').dataTable( {
            "language": {
                "url": "dataTables.german.lang"
            }
        } );
    } );
</script>
	{% endblock js %}
</body>
</html>